*{background-color:white;}

#header{
margin:45px;
text-align:center;
color:white;
width:960px;
height:60px;
background-color:green;
}

.header{
position: relative;
left:100px;
margin:45px;
text-align:center;
color:white;
width:960px;
height:60px;
background-color:green;
}

#menu{
width:150px;
height:300px;
background-color:green;
}

.menu{
position:relative;
left:60px;
color:white;
border:5px;
padding:10px;
margin:10px;
width:150px;
height:300px;
background-color:green;
}

#popyazar{
float:right;
width:550px;
height:250px;
background-color:orange;
}

.popyazar{
position:relative;
left:400px;
bottom:350px;
width:300px;
height:100px;
border:10px;
margin:35px;
background-color:orange;
}

.popkitap{
position:relative;
left:400px;
bottom:300px;
width:300px;
height:100px;
border:10px;
margin:35px;
background-color:orange;
}

.yenicikanlar{
position:relative;
left:970px;
bottom:620px;
width:100px;
height:300px;
border:10px;
margin:35px;
background-color:orange;
}

#footer{
text-align:center;
color:white;
width:1110px;
height:100px;
background-color:gray;
}

.footer{
position:relative;
left:100px;
text-align:center;
color:white;
width:1110px;
height:100px;
background-color:gray;
}












